 nav {background: #111; z-index: 9997; }

#cross, #soc-bar {
    display: block;
}

.container {
    display: block;
}

.editions-top {
    padding-top: 8rem;
}

.edition-profile {
    font-size: 3rem;
}

.editions-top .media {
    position: relative;
}

.editions-top .media .edition-profile {
    position: absolute;
    top: 25%;
    transform: translateY(50%) rotate(-20deg);
}

@media only screen and (max-width: 992px) {
    .editions-top .media .edition-profile, .editions-top .media .edition-profile {
        position: static;
        transform: none;
    }
}

.edition-content .row {
    padding: 1.5rem;
}

.edition-content .edition-heading {
    display: block;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
    text-decoration: underline;
}

.odd {
    background-color: #ddd;
}

.even {
    background-color: #ccc;
}

.artist-name {
    font-size: 1.2rem;
    padding-top: 1.5rem;
    letter-spacing: 1.5px;
    font-weight: bold;
}

blockquote, .blockquote {
    font-style: italic;
    font-size: 0.9rem;
}

.blockquote-footer a {
    color: blue;
    text-decoration: underline;
}

.images {
    text-align: center;
}

.individual-contents {
    text-align: justify;
}

.individual-contents a {
    color: blue;
    text-decoration: underline;
}

footer {
    margin-top: 4rem;
}

.row img {
    max-width: 85%;
}

.thumb img {
    max-width: 100%;
}

.img-res {
    width: 4rem !important;
    height: 4rem !important;
    object-fit: cover;
}

.thumb-container {
    text-align: center;
}

.thumb {
    padding: 2.5px;
}

.lb-dataContainer, .lb-details, .lb-data, .lb-closeContainer {
    display: block;
}

.coming-soon {
    text-align: center;
    font-size: 3rem;
    letter-spacing: 2.5px;
    padding: calc(50vh - 12rem) 0;
    display: block;
    margin: 0 auto;
    transform: rotate(-20deg);
    /* text-decoration: underline wavy; */
    text-decoration: underline double;
}
