 nav {background-color: rgba(0, 0, 0, 0.9); z-index: 9997; }

#cross, #soc-bar {
    display: block;
}

#press-media-carousel-inner {
    background-color: #111;
    background-clip: content-box;
}

.container {
    display: block;
}

#press-media-top {
    padding-top: 4.625rem;
}

.carousel-inner img {
    object-fit: contain;
}

#my-carousel {
    height: calc(100vh - 4.625rem);
}

.carousel-indicators {
    bottom: calc(3.5vh - 0.4rem);
}

#my-carousel img {
    height: calc(90vh - 4.625rem);
    width: auto;
}

.carousel-inner {
    height: calc(100vh - 4.625rem);
    padding-bottom: 10vh
}

.carousel-indicators li {
    background-color: transparent;
}

.carousel-caption {
    color: #000;
    padding: 0;
    bottom: -2.5rem;
}

.gallery {
    text-align: center;
}

.gallery img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 3px solid #111;
    /* box-shadow: 1rem 1rem 2rem #000; */
}
