:root {
    --font1: 'Playfair Display', serif;
    --font11: 'Kaushan Script', cursive;
    --font12: 'Nanum Brush Script', cursive;
    --font13: 'Finger Paint', cursive;
    --font14: 'Poiret One', cursive;
    --font15: 'Satisfy', cursive;
    --font16: 'Josefin Slab', serif;
    --font17: 'Lobster Two', cursive;
}

 nav {background-color: rgba(0, 0, 0, 0.9); z-index: 9997; }

#cross, #soc-bar {
    display: block;
}

.container {
    display: block;
}

.press-media-top {
    padding-top: 8rem;
}

.gallery img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 3px outset #111;
    box-shadow: 1rem 1rem 2rem #000;
}

footer {
    margin-top: 4rem;
}
