/*******
header-height: 4.625rem;
font-family: 'Roboto Condensed', sans-serif;

********/

:root {
    --font: 'Roboto Condensed', sans-serif;
}

ul { list-style: none; }
div { display: inline-block; }

#toggle-soc-bar { position: fixed; top:50vh; right: -30px; font-size: 20px; text-align: left; line-height: 50px; padding-left: 10px; width: 50px; height: 50px; z-index: 9997; border-radius: 50%; background-color: #aaa; color: white; cursor: pointer; display: none;}
#cross { position: fixed; top: calc(50vh - 70px); width: 15px; height: 15px; z-index: 9998; right: 20px; display: none; cursor: pointer; }
#soc-bar {  position: fixed; top: calc(50vh - 52px); right: 0; z-index: 9998; display: none; }
#soc-bar a { text-decoration: none; color: #111; }
#soc-bar i { display: block; margin: 5px; font-size: 24px;}

#scroll-up { position: fixed; display: none; bottom: 30px; right: 30px; width: 50px; height: 50px; z-index: 9997; border-radius: 50%; background-color: #FF9800; color: white; }
#scroll-up-content { position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); font-size: 25px; }






a {
    color: white;
}

a:hover {
    color: #ddd;
}

.nav-link {
    color: white;
}

.cursor-default {
    cursor: default;
}


nav {
    background-color: transparent;
    text-transform: uppercase;
}

.navbar-brand img {
    width: 6rem;
    height: 3rem;
}

.read-more-hover-navbar {
    background-color: white;
    width: 0;
    height: 2px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: block;
}

.nav-item:hover .read-more-hover-navbar {
    width: 100%;
}

.navbar-underline {
    background-color: white;
    width: 0;
    height: 2px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: block;
}

.menu-drop .nav-link:hover .navbar-underline {
    width: 100%;
}

.row img {
    max-width: 100%;
    height:auto;
}

.menu-drop, .menu-drop-right {
    position: relative;
}

.menu-drop:hover .drop1 {
    display: block;
}

/* .menu-drop:hover .menu-drop-right ul {
    display: none;
} */

.menu-drop-right:hover ul {
    display: block;
}

.menu-drop ul {
    display: none;
    position: absolute;
    top: 2rem;
    padding-left: 0;
    background-color: #111;
    min-width: 100%;
}

.menu-drop-right ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    padding-left: 0;
    background-color: #111;
    min-width: 100%;
}

.menu-drop ul li, .menu-drop-right ul li {
    border-bottom: 1px solid #333;
}

.menu-drop ul .nav-link, .menu-drop-right ul .nav-link {
    padding-top: 0;
    padding-bottom: 0;
}

.drop-container-individual {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* .drop-container-individual i {
    float: right;
} */

#header {
    position: fixed;
    width: 100%;
    z-index: 9997;
}


.header-bg-black {  background-color: #111; -webkit-transition: 1.5s; transition: 1.5s; color: #fff; }
.tab-white { color: #fff; }

footer {
    color: white;
    background-color: #222;
    /* margin-top: 4rem; */
}

footer.container-fluid {
    padding: 5%;
}

footer .row {
    margin-left: 0;
    margin-right: 0;
}

footer .col-1, footer .col-11 {
    padding-left: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

footer .footer-caption {
    display: block;
    text-transform: uppercase;
    font-size: 2rem;
}


/********************     Main     ********************/

#logo { display: block; padding: 10px; font-family: var(--font); font-weight: bold; font-size: 3.5em; }

.underline { text-decoration: underline; }

#photo-fest { display: block; font-size: 2em; padding-left: calc(10px + 2em); }

#explore { position: absolute; font-family: var(--font); font-size: 1.5em; color: white; bottom: 3.5em; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }
#a-explore { position: absolute; text-align: center; text-decoration: none; color: white; bottom: calc( 2em + 1px ); left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); padding: 5px 10px; border: 1px solid white; }
#a-explore:hover { -webkit-box-shadow: 2px 2px 30px white; box-shadow: 2px 2px 30px white; }

.parallax { width: 100%; background-attachment: fixed; background-repeat: no-repeat; background-position: center; background-size: cover; }

#home {
    /* position: relative; display: block; */
    height: 100vh; width: 100%;
}

#my-carousel {
    width: 100%;
    height: 100%;
}

.carousel-indicators li {
    width: 0.8rem;
    height: 0.8rem;
    border: 1px solid black;
    border-radius: 50%;
    bottom: 10px;
}

.carousel-indicators .active {
    background-color: black;
}

.carousel-inner {
    height: 90vh;
}

.carousel-item {
    height: 100%;
}

.carousel-inner img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    width: 100%;
    height: 100%;
}

.arrow-half-top, .arrow-half-bottom {
    position: absolute;
    width: 5rem;
    height:0.2rem;
    background-color: white;
}

.carousel-control-prev .arrow-half-top {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
}

.carousel-control-prev .arrow-half-bottom {
    /* transform: translateX(-5rem) rotate(-45deg); */
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
}

.carousel-control-next .arrow-half-top {
    /* transform: translateX(5rem) rotate(45deg); */
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 5rem 0;
            transform-origin: 5rem 0;
}

.carousel-control-next .arrow-half-bottom {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 5rem 0;
            transform-origin: 5rem 0;
}

@media only screen and (max-width: 768px) {
    .arrow-half-top, .arrow-half-bottom {
        width: 2.5rem;
    }

    .carousel-control-next .arrow-half-top {
        -webkit-transform-origin: 2.5rem 0;
                transform-origin: 2.5rem 0;
    }

    .carousel-control-next .arrow-half-bottom {
        -webkit-transform-origin: 2.5rem 0;
                transform-origin: 2.5rem 0;
    }
}

.head-box { font-family: var(--font); font-size: 24px; color: white; margin: 1em 0; color: #111; padding: 0; letter-spacing: 3px; }


.customed-fluid {
    padding: 0;
}

#about { height: auto; background-color: #eee; padding-top: 80px; padding-bottom: 80px; }

#fest-dir, #boinari, #team-det { margin-top: 30px; }
#about-egaro, #about-agartala { margin-bottom: 20px; margin-top: 0;}
#boinari, #about-egaro, #about-agartala { text-align: left; padding: 0 10%; }
#boinari p, #about-egaro p, #about-agartala p { font-family: var(--font); line-height: 1.5; }
#boinari .head-box, #about-egaro .head-box, #about-agartala .head-box { margin-bottom: 30px; }

#fest-dir { margin: 0 10%; background-color: #ddd;}
#fest-dir .head-box { width: 100%;  padding: 0; }
.fest-dir-content { position: relative; height: 480px; width: 100%; }
.dir-fest-img { position: absolute; left: 50px; top: 50%; padding-bottom: 20px;  -webkit-transform: translateY(-50%);  transform: translateY(-50%); width: 35%; text-align: left;}
.dir-fest-words { position: absolute; left: 40%; font-size: 16px; line-height: 1.3; font-family: var(--font); width: 45%; text-align: left;  padding-top: 20px;}
#fest-dir img { height: 300px; width: 300px; -o-object-fit: cover; object-fit: cover; -o-object-position: top; object-position: top; }
.dir-name { font-family: var(--font); line-height: 20px; margin-top: 20px; text-transform: uppercase; font-weight: bold; display: block; text-align: center; width: 300px; }
.dir-desc { font-family: var(--font); line-height: 20px; width: 300px; text-align: center; }

.members { display: inline-block;  }
.mem-det { position: relative; }
.mem-det-container { position: relative; width: 300px; display: block; padding: 20px 0; }
.members:hover { border-bottom: 0; }
.members:hover .mem-det-container { z-index: 9900; }
.mem-social { position: absolute; bottom: 10px; width: 100%;  left: 0; display: none;}
.mem-social a { color: white; padding: 0 5px; font-size: 28px; }
.mem-social i:hover { color: #aaa; }
#team-det { text-align: center;  margin: 0 10%; }
#team-det img { position: relative; height: 300px; width: 300px; margin: 40px 0 0 0; -o-object-fit: cover; object-fit: cover; -o-object-position: top; object-position: top; }
.mem-det:hover { opacity: 0.3; }
.mem-det:hover .mem-social { display: inline-block; opacity: 1; }


.member-name { font-family: var(--font);text-transform: uppercase; font-weight: bold; display: block; }
.member-post { font-family: var(--font); width: 300px; text-align: center; }

#sponsors { height: auto; background-color: #eee; text-align: center; color: #111; }
.sponsor-header { letter-spacing: 3px; font-family: var(--font); font-size: 24px; margin-bottom: 70px; }
#sponsors .salutation { font-size: 30px; text-align: center; margin-top: 5%; margin-bottom: 10%; font-family: var(--font);line-height: 2; }
#sponsors .welcome { font-weight: bold; }
#sponsors .thank { display: block; font-family: var(--font); }
#sponsors .sponsor-list { text-align: center; display: block; }
#sponsors .sponsor-type { font-family: var(--font); display: block; font-size: 24px; }
#sponsors img { height: 100px; width: 150px; -o-object-fit: cover; object-fit: cover; -o-object-position: center; object-position: center; margin: 40px; }
#become-sponsor { margin-top: 1.5em; background-color: #FFEB3B; background-color: rgba(255, 160, 0); cursor: pointer; border-radius: 5px; padding: 10px; color: black; }
#become-sponsor:hover { padding:20px; }

#contacts { height: auto; padding: 80px 0 4rem; text-align: }
#contacts label { display: block; line-height: 2; }
#contacts input,textarea { border: 1px solid #999; color: #333; padding: 6px 10px; font-size: 16px; border-radius: 2px; display: block; font-family: var(--font); line-height: 1.5; width: 500px; outline: 0; }
#contacts input[type="submit"] { margin-top: 30px; border: 0; padding: 10px; border-radius: 5px; background-color: #00897B; color: white; font-family: var(--font); text-transform: uppercase; width: auto; }
#contacts input[type="submit"]:hover { cursor: pointer; padding: 15px; }
.contact-head { font-family: var(--font); font-size: 32px; padding-bottom: 40px; text-align: left; display: block; }
.contact-us { display: block; padding-bottom: 40px; text-align: center; margin-top: 30px; }
.contact-left { text-align: left; width: auto; }
.contact-right { width: auto; text-align: left; padding-left: 10px; }
address { font-size: 12px;}



.container, .container-fluid {
    display: block;
}
